# Backend
PORT=5000
DATABASE_URL=your_database_url_here
JWT_SECRET=your_jwt_secret_here

# Frontend
VITE_API_URL=http://localhost:5000

# Firebase
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=